:root {
  --main-color: #ff5e00;
  --black-color: #000000;
  --white-color: #ffffff;
  --friend-message-color: #ffffff;
  --gray-color: #e7e7e7;
  --grey-color: grey;
  --shadow-color: #c4c4c4;
  --select-active: #d4d4d4;
  --select: #f4f4f4;
  --time-friend-color: #bdbdbd;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: var(--black-color);
  font-family: 'Lato', sans-serif;
  font-size: 1.6em;
  font-weight: 200;
  letter-spacing: 0.01em;
  line-height: 1.6;
}

#main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

#contacts {
  width: 30%;
  height: 100%;
  position: relative;
}

#contacts-header {
  width: calc(100% - 25px);
  height: 40px;
  display: flex;
  padding: 10px 5px 10px 20px;
  background-color: var(--white-color);
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  font-size: 10px;
}

.more-button {
  border-radius: 40px;
  height: 40px;
  width: 40px;
  display: flex;
  align-self: center;
  justify-content: center;
}

.more-button:hover {
  background: var(--gray-color);
}

#contacts-list {
  width: 100%;
  height: calc(100% - 244px);
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  overflow: scroll;
}

.contact {
  width: calc(100% - 44px);
  height: 35px;
  margin: 2px;
  display: flex;
  padding: 15px 20px;
  background-color: var(--withe-color);
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.contact:hover {
  background: var(--select);
}

.contact.selected:hover {
  background: var(--select-active);
}

.selected {
  background: var(--select-active);
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

.sumary-message {
  height: 40px;
  width: 100%;
  display: flex;
  margin: 0px 15px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.last-message {
  color: var(--grey-color);
  font-size: 12px;
  overflow: hidden;
}

.contact .time {
  color: var(--grey-color);
  font-size: 12px;
}

.contact-name {
  color: var(--black-color);
  font-size: 14px;
}

#my-profile {
  background-color: var(--white-color);
  width: calc(100% - 65px);
  margin: 10px;
  height: 60px;
  display: flex;
  padding: 15px 20px;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid var(--main-color);
}

#my-profile p {
  color: var(--black-color);
  padding: 0px 10px;
}


#chat {
  width: 70%;
  height: auto;
  position: relative;
}

#chat-header {
  position: fixed;
  width: calc(70% - 40px);
  height: 40px;
  display: flex;
  background-color: var(--main-color);
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
}

#chat-header h1 {
  color: var(--white-color);
  margin-left: 15px;
  font-size: 18px;
}

.chat-messages {
  position: relative;
  top: 59px;
  width: auto;
  height: calc(100% - 204px);
  display: flex;
  background-color: var(--gray-color);
  flex-direction: column;
  overflow: scroll;
  padding: 30px 60px;
}

.message {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.user-message {
  justify-content: flex-end;
}

.friend-message {
  justify-content: flex-start;
}



.user-message .text {
  max-width: 300px;
  background-color: var(--main-color);
  border-radius: 15px 15px 0px 15px;
  padding: 15px;
  margin: 10px 0px;
  color: var(--white-color);
}

.friend-message .text {
  max-width: 300px;
  background-color: var(--friend-message-color);
  border-radius: 15px 15px 15px 0px;
  padding: 15px;
  margin: 10px 0px;
  color: var(--black-color);
}

.time {
  position: relative;
  bottom: -10px;
  right: 0px;
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  margin-top: -8px;
  color: var(--white-color)
}

/* 
.text .msg {

} */

.friend-message .text .name {
  color: var(--main-color)
}

.friend-message .text .time {
  color: var(--time-friend-color)
}


#tools {
  position: fixed;
  bottom: 0;
  width: calc(70% - 100px);
  height: 65px;
  display: flex;
  padding: 0px 50px 20px 50px;
  background: var(--gray-color);
  justify-content: space-between;
  align-items: center;
}

#tools-input {
  height: 10px;
  width: calc(100% - 80px);
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: var(--white-color);
  align-items: center;
  border-radius: 25px;
  box-shadow: 5px 8px 15px var(--shadow-color);
  align-items: center;
}

#tools-input input {
  border: none;
  width: 90%;
  background-color: var(--white-color); 
}

input:focus {
  outline-width: 0;
}

#tools-input .smiley {
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}


#tools-input .smiley svg:hover {
  height: 22px;
  width: 22px;
}

#send-button {
  height: 40px;
  width: 37px;
  /* border: 1px solid black; */
  box-shadow: 5px 8px 15px var(--shadow-color);
  border-radius: 40px;
  background: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 3px;
}

#tools img:hover {
  height: 22px;
  width: 22px;
}

p {
  margin: 0;
}

.avatar {
  height: 48px;
  width: 48px;
}



#login {
  width: 400px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--select);
  box-shadow: 5px 8px 15px var(--time-friend-color);
  flex-direction: column;
}

#login h1 {
  color: var(--main-color);
  margin: 5px;
}

#loginInput .error-room, #loginInput .error-name, #login .error-avatar {
  color:red;
  margin-bottom: 10px;
  font-weight: 300;
  margin: 2px 0px;
  font-size: 14px;
}

#login p {
  color:var(--grey-color);
  margin-bottom: 10px;
  font-weight: 400;
}

#loginInput {
  display: flex;
  flex-direction: column;
}

#loginInput input {
  width: 200px;
  height: 35px;
  border: 1px solid var(--grey-color);
  padding: 5px;
  box-shadow: 1px 2px 5px var(--time-friend-color);
  border-radius: 2px;
}

#loginInput input:focus {
  outline-width: 2;
  border-color: #ff5e00;
}


#loginInput p {
  color:var(--grey-color);
  margin: 10px 0px 2px 0px;
}

#loginInput button {
  margin: 10px;
  background: var(--main-color);
  border: none;
  padding: 10px;
  border-radius: 3px;
  color: var(--white-color);
}


.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 0px;
  font-size: 16px;
  border-radius: 80px;
  width: 80px;
  height: 80px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 328px;
  height: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: auto;
  left: 80px;
  bottom: -100px
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown img {
  height: 80px;
  width: 80px;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-wrap: wrap;
}